#title{
    text-align: center;
    width: 80%;
    background: #fff;
    color: #27994B;
    border-radius: 20px;
    padding: 14px 10px;
    margin: 30px auto;
    display: block;
}
#title h2{
    display: inline;
    font-weight: bolder;
    font-size: 1.6em;
    padding: 0px;
    margin: 0px 0px 0px 55px;
}
#add-book{
    float: right;
    margin-right: 25px;
}
#book-content{
    margin: auto;
    display: block;
    width: 80%;
    margin: 20px auto; 
}
.book{
    display: block;
    padding: 40px 25px;
    border-radius: 20px;
    background: #fff;
    margin: 20px auto; 
}
.book-information{
    display: inline-block;
    width: 80%;
    margin-right: 25px;
 
}
.book-code{
    font-weight: bolder;
    font-size: 1.8em;
}
.book-title{
    font-weight: bold;
    font-size: 1.8em;
}
.book-editorial{
    font-weight: normal;
    font-size: 1.6em;
}
.book-author{
    font-weight: normal;
    font-size: 1.6em;
}
.book-num-pages{
    font-weight: normal;
    font-size: 1.6em;
}
.book-cost{
    font-weight: normal;
    font-size: 1.6em;
}
.item{
    display: inline-block;
    margin: 12px 25px;
}
.book-options{
    width: 12%;
    float: right;
}
.option{
    width: 38px;
    height: 38px;
    border-radius: 10px;
    padding: 2px;
    background: rgb(225, 225, 225);
    margin: 0px 5px;
}