#options-content{
    width: 80%;
    display: block;
    margin: auto;
}
.option{
    display: block;
    width: 100%;
    background: #fff;
    margin: 40px 0px;
    text-align: center;
    padding: 30px 0px;
    border-radius: 25px;
    text-decoration: none;
}
.option p{
    color: #336E94;
    font-weight: bold;
    font-size: 1.2em;
}
.option:hover{
    box-shadow: #000 0px 0px 2px;
}
@media screen and (min-width: 480px){
    #options-content{
        width: 70%;
    }
}
@media screen and (min-width: 767px){
    #options-content{
        width: 100%;
    }
    .option{
        display: inline-block;
        width: 38%;
        margin: 40px 5%;
        text-align: center;
        padding: 30px 0px;
        border-radius: 25px;
        text-decoration: none;
    }
    .option p{
        font-weight: bold;
        font-size: 1.2em;
    }
    .option:hover{
        box-shadow: #000 0px 0px 2px;
    }
}
@media screen and (min-width: 950px){ 
    #options-content{
        width: 80%;
    }
    .option{
        display: inline-block;
        width: 38%;
        margin: 40px 5%;
        text-align: center;
        padding: 30px 0px;
        border-radius: 25px;
        text-decoration: none;
    }
    .option p{
        font-weight: bold;
        font-size: 1.4em;
    }
    .option:hover{
        box-shadow: #000 0px 0px 2px;
    }
}