#form{
    background: #fff;
    border-radius: 25px; 
    width: 80%;
    display: block;
    padding: 20px 20px 20px 40px;
    margin: 20px auto;
}
.error{
    background: #FF9185;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}
.correct{
    background: #A0DEA7;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}
h2{
    text-align: center;
    font-size: 1.8em;
}
p{
    font-size: 1.2em;
}
.field-conteiner{
    display: block;
    width: 90%;
    margin: 25px auto;
}
.field-conteiner p{
    display: inline;
    margin: 0px 10px 0px 0px;
}
input[type="text"]{
    width: 60%;
    padding: 8px 5px;
    border-radius: 5px;
    border: solid grey 1px;
    font-size: 1.2em;
}
input[type="number"]{
    width: 20%;
    padding: 5px 2px;
    border-radius: 5px;
    border: solid grey 1px;
    font-size: 1.2em;
}
#btn-save{
    border: solid #27994B 1px;
    background: #27994B;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 1.2em;
    font-weight: 600;
}
#btn-save:hover{
    background: #fff;
    color: #27994B;
    transition: background 1s, color 1s;
}
@media screen and (min-width: 767px){
    #form{
        width: 70%;
    }
    .field-conteiner{
        display: inline-block;
        width: 40%;
        margin: 28px auto;
    }
    .field-conteiner p{
        display: block;
        margin: 0px 10px 0px 0px;
    }
    input[type="text"]{
        width: 75%;
        font-size: 1.4em;
    }
    input[type="number"]{
        width: 30%;
        font-size: 1.4em;
    }
}
@media screen and (min-width: 950px){
    #form{
        width: 60%;
        margin: 20px auto;
    }
    p{
        font-size: 1.2em;
    }
    .field-conteiner{
        display: inline-block;
        width: 40%;
        margin: 28px auto;
    }
    .field-conteiner p{
        display: block;
    }
    input[type="text"]{
        width: 75%;
    }

}