:root{
    --title-bg-color: #fff;
}
#title{
    background: var(--title-bg-color);
    color: var(--primary-text-color);
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 25px;
}
#title h2{
    width: 100%;
    font-weight: 700;
    font-size: 1.8em;

}
.option{
    width: 34px;
    height: 34px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    background: #e1e1e1;
}
.option-table{
    background: transparent;
}
#users-content{
    width: 90%;
    overflow: auto;
    margin: 20px auto;
}
#table-clients{
    width: 80%;
    margin: 20px auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 2px 10px;
    font-size: 1.2em;
}
th{
    background: var(--default-primary-color);
    color: var(--text-primary-color);
}
tr:nth-child(odd){
    background: #FFFFFF;
}
tr:nth-child(even){
    background: var(--light-primary-color);
}
td:nth-child(4n){
    width: 50px;
}
td:nth-child(5n){
    width: 50px;
}
@media screen and (min-width: 480px){

}
@media screen and (min-width: 767px){

}
@media screen and (min-width: 950px){
    #table-clients{
        width: 90%;
    }
}