*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root{
    --dark-primary-color: #29434e;
    --default-primary-color: #546e7a;
    --light-primary-color: #819ca9;
    --text-primary-color: #ffffff;
    --accent-color: #33691e;
    --primary-text-color: #000000;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
    --body-bg: #E4E5E6;
}
body{
    background: var(--body-bg);
}
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
header{
    background: var(--dark-primary-color);
    width: 100%;
    padding: 5px 0;
    display: flex;
}
h1{
    padding: 10px;
    text-align: center;
    color: var(--text-primary-color);
    font-family: 'Merienda One', cursive;
    margin: 0 25px;
}
.center{
    text-align: center;
}
#open-nav{
    color: var(--text-primary-color);
    font-size: 2.5em;
    cursor: pointer;
    margin: 0 10px;
}
#close-nav{
    display: block;
    color: var(--text-primary-color);
    font-size: 2.5em;
    text-align: right;
    margin: 10px 25px;
    cursor: pointer;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    background: rgba(2, 136, 209, .2);
    transition: width .5s ease-out;
}
.no-list-style{
    list-style: none;
}
.nav-element{
    display: block;
    width: 100%;
}
.link-element{
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 1.8em;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.link-element:hover{
    background: rgba(0,0,0,.2);
}
@media screen and (min-width: 950px){
    header{
        display: block;
    }
    nav{
        position: relative;
        width: 100%;
        height: auto;
        background: var(--dark-primary-color);
    }
    nav ul{
        display: flex;
    }
    #open-nav{
        display: none;
    }
    #close-nav{
        display: none;
    }
    .nav-element{
        display: initial;
    }
}