#form{
    background: #fff;
    width: 75%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 25px;
}
.error{
    background: #FF9185;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}
.correct{
    background: #A0DEA7;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}

h2{
    text-align: center
}
p{
    font-size: 1.2em;
}
.field-conteiner{
    display: block;
    margin: 20px auto;
    margin: 20px 25px;
}
input[type="text"]{
    padding: 8px 5px;
    border-radius: 5px;
    border: solid grey 1px;
    font-size: 1.2em;
}
input[type="number"]{
    padding: 5px 2px;
    border-radius: 5px;
    border: solid grey 1px;
    font-size: 1.2em;
}
input[type="date"]{
    padding: 5px 2px;
    border-radius: 5px;
    border: solid grey 1px;
    font-size: 1.2em;
}
select{
    width: 25%;
    padding: 5px 2px;
    border-radius: 5px;
    border: solid grey 1px;
    font-size: 1.2em;
    margin: 20px 25px;
}
#btn-save{
    border: solid #27994B 1px;
    background: #27994B;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 50px auto 10px auto;
    font-size: 1.2em;
    font-weight: 600;
}
#btn-save:hover{
    background: #fff;
    color: #27994B;
    transition: background 1s, color 1s;
}