#title{
    text-align: center;
    width: 80%;
    background: #fff;
    color: #27994B;
    border-radius: 20px;
    padding: 14px 10px;
    margin: 30px auto;
    display: block;
}
h2{
    display: block;
    font-weight: bolder;
    font-size: 1.6em;
    padding: 10px;
    margin: 20px auto 0px auto;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    width: 60%;
}
#add-order{
    float: right;
    margin-right: 25px;
}
#order-content{
    margin: auto;
    display: block;
    width: 80%;
    margin: 20px auto; 
}
.order{
    display: block;
    padding: 40px 25px;
    border-radius: 20px;
    background: #fff;
    margin: 20px auto; 
    width: 60%;
}
.order-information{
    display: inline-block;
    width: 80%;
    margin-right: 25px;
}
.order-code{
    font-weight: bolder;
    font-size: 1.8em;
}
.client-code{
    font-weight: normal;
    font-size: 1.8em;
}
.book-code{
    font-weight: normal;
    font-size: 1.6em;
}
.loan-date{
    font-weight: normal;
    font-size: 1.6em;
}
.delivery-date{
    font-weight: normal;
    font-size: 1.6em;
}
.order-cost{
    font-weight: normal;
    font-size: 1.6em;
}
.item{
    display: inline-block;
    margin: 12px 25px;
}
.order-options{
    width: 10%;
    float: right;
}
.option{
    width: 38px;
    height: 38px;
    border-radius: 10px;
    padding: 2px;
    background: rgb(225, 225, 225);
    margin: 0px 5px;
}