:root{
    --title_bg_color: #fff;
    --th_bg_color: #2E3D47;
    --td_bg_color_odd: #87B3D0;
    --td_bg_color_even: #fff;

    --title_txt_color: #336E94;
    --th_txt_color: #fff;
    --td_txt_color: #000;
}
#title{
    text-align: center;
    width: 80%;
    background: #fff;
    color: #27994B;
    border-radius: 20px;
    padding: 14px 10px;
    margin: 30px auto;
    display: block;
}
h2{
    display: block;
    font-weight: bolder;
    font-size: 1.6em;
    padding: 10px;
    margin: 20px auto 0px auto;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    width: 60%;
}
#add-order{
    float: right;
    margin-right: 25px;
}
#order-content{
    margin: auto;
    display: block;
    width: 80%;
    margin: 20px auto; 
}
#table-orders{
    width: 80%;
    margin: 20px auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 2px 10px;
    font-size: 1.2em;
}
th{
    background: var(--th_bg_color);
    color: var(--th_txt_color);
}
tr:nth-child(odd){
    background: var(--td_bg_color_odd);
}
tr:nth-child(even){
    background: var(--td_bg_color_even);
}
td:nth-child(5n){
    width: 50px;
}
td:nth-child(6n){
    width: 50px;
}
.order-options{
    width: 10%;
    float: right;
}
.option{
    width: 34px;
    height: 34px;
    border-radius: 10px;
    padding: 2px;
    background: rgb(225, 225, 225);
    margin: 5px;
}
@media screen and (min-width: 480px){

}
@media screen and (min-width: 767px){

}
@media screen and (min-width: 950px){
    #table-orders{
        width: 90%;
    }
}