.option{
    width: 34px;
    height: 34px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    background: #e1e1e1;
}
thead tr th .option{
    float: right;
}
.option-table{
    background: transparent;
}

table{
    width: 100%;
    margin: 20px auto;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

thead th{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 8px 12px;
}
td{
    padding: 2px 12px;
}
td:nth-child(4n){
    width: 50px;
}
td:nth-child(5n){
    width: 50px;
}